# ============================================================
# ENTORNO PYTHON
# ============================================================

.venv/
__pycache__/
*.pyc


# ============================================================
# HUGGING FACE / CACHÉS
# ============================================================

.cache/
huggingface/


# ============================================================
# VARIABLES DE ENTORNO
# ============================================================

.env
*.env


# ============================================================
# ARCHIVOS GENERADOS
# ============================================================

outputs/
outputs_v2/
processed/

*.tmp


# ============================================================
# MODELOS Y CHECKPOINTS
# ============================================================

# Checkpoint principal de OpenVoice V2
checkpoints_v2/converter/checkpoint.pth


# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/


# ============================================================
# SISTEMA
# ============================================================

.DS_Store
Thumbs.db